[Unit]
Description=Muscle Chair Output Server
After=network.target

[Service]
ExecStart=/home/pi/muscle_chair/scripts/start_server.sh
WorkingDirectory=/home/pi/muscle_chair/backend
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target