[Unit]
Description=Muscle Chair Output Server
After=network.target

[Service]
ExecStart=/home/pi/myApp/start_server.sh
WorkingDirectory=/home/pi/myApp
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target